.header-container{
    display: flex;
    justify-content: center;
    gap: 60px;
    background: linear-gradient(135deg, #C2E7E8 0%, white 75%, #f8e1e9 100%);
    height: 60px;
    align-items: center;
}
.header-container div a{
    text-decoration: none;
    font-family:'Trebuchet MS' ;
    font-size: 16px;
}
.transition2:hover{
    padding: 10px;
    border: #5B3F93 solid 2px;
    border-left: 0px;
    border-right: 0px;
    transition-duration: 0.4s;
}


.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 2em;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #C2E7E8 0%, white 50%, #F1AACC 100%);


}
.profile-img{
    width: 30%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 10px 9px rgb(165, 164, 164);
    border-radius: 50px;
    /* background-color: bisque; */

}
.profile-img img{
    height: 105%;
    width: 100%;
    object-fit: cover;
    /* display: block; */
}
.profile2-img{
    opacity:1;
    transition-duration: 0.4s;
}
.profile2-img:hover{
   opacity:0;
   background-image: url('assets/profile.png');
}
.content{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}
.content h1{
    font-size: 4em;
    margin: 0px;
    font-family: 'Trebuchet MS';
}
.content p{
    font-size: 1.2em;
    line-height: 1.4em;
    letter-spacing: 0.5px;
    width: 90%;
    font-family: 'Trebuchet MS';
}
.one button{
  background-color: #BFE1F0;
  border: 3px solid #BFE1F0;
  color: rgb(29, 29, 31);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0px 5px 9px rgb(165, 164, 164);
  transition-duration: 0.4s;
}


.skills{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;  
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    background: linear-gradient(-135deg,#F1AACC 0%, white 50%, #C2E7E8 100%);
}


.skills h1{
    grid-column: 1 / -1;  
    text-align: center;   
    font-size: 3.5em;
    font-family: 'Trebuchet MS';
    color: #472f75;
    margin-bottom: 20px;
}


.skills-card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS';
    background-color: white;
    box-shadow: 0px 10px 9px rgb(165, 164, 164);
    border-radius: 30px;
    width: 320px;
    text-align: center;
    gap: 40px;
    padding: 30px;
}

.imageborder {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.skills-card .hovering{
    display: none;
}
.skills-card:hover .hover{
    display: none;
}
.skills-card:hover .hovering{
    display: inline;
}

.transition:hover{
  background-color: white;
  border: 3px solid #BFE1F0;
}
.transtion::after{
    content: "";
    display: inline-block;
    background-image: url("assets/starcool.png");
    background-size: contain;
    background-repeat: no-repeat;
    width:20px;
    height: 20px;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3 ease-in-out;
    vertical-align: middle;
}
.transition:hover::after{
    opacity: 1;
}
.transtion2::before{
    content:"\1F31F";
    margin-right: 6px;
    opacity: 0;
    transition: opacity 0.3s;
}
.transition2:hover::before{
    opacity: 1;
}
#skills2 h1{
    grid-column: 1 / -1;  
    text-align: center;   
    font-size: 3em;
    font-family: 'Trebuchet MS';
    color: #472f75;
    margin-bottom: 20px;
}
#skills2{
     display: grid;
    grid-template-columns: repeat(3,auto );
    gap: 20px;
    padding: 20px;
    justify-content: center;  
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg,#C2E7E8 0%, white 40%, #F1AACC 100%);
}
.imageborder2 {
    width: 260px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}
.skills-card2 {
   display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: flex-start; 
    font-family: 'Trebuchet MS';
    background-color: white;
    box-shadow: 0px 10px 9px rgb(165, 164, 164);
    border-radius: 30px;
    height: 400px;
    width: 250px;
    text-align: center; 
    gap: 20px;
    padding: 30px;
}
.title-of-card{
    display: flex;
    justify-content: flex-end;
    font-size: 1.5em;
    font-weight: 600;
    font-family: 'Trebuchet MS';
    color: #472f75;
}

.image1{
    position: absolute;
    top: 300px;
    right: 460px;
    width: 400px;
    height: 300px;
    opacity: 1;
    transition: opacity 3s ease; /* smooth fade */
}
.image1:hover{
    opacity: 0;
}

.image2{
  display: flex;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 656px;
  bottom: 200px;
}
.image3{
  display: flex;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 656px;
  top:445px;
}
.image4{
  display: flex;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 250px;
  bottom: 200px;
}
.image5{
  display: flex;
  width: 400px;
  height: 300px;
  position: absolute;
  right: 250px;
  top:445px;
}
.background{
  width: 100vw;
  height: 110vh;
  background: linear-gradient(135deg, #C2E7E8 0%, white 50%, #F1AACC 100%);
}


label{
    font-family: 'Trebuchet MS';
    color:#472f75
}
.title2{
    font-family: 'Trebuchet MS';
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;

}
input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}
input:focus, textarea:focus {
  border-color: #ae8fe9;
  outline: none;
  box-shadow: 0 0 5px rgba(102,126,234,0.5);
}
.contacting button {
  width: 100%;
  padding: 12px;
  background: #d1a5ee;
  color:#472f75;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.contacting{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}
.contacting-img{
    width: 400px;
    height: 400px;
}

